.idea
*/.idea

!vendor/wfm/*
!vendor/*.php

public/dataUser/*

tmp/
/vendor/bin/
/vendor/brick/
/vendor/composer/
/vendor/doctrine/
/vendor/gabordemooij/
/vendor/illuminate/
/vendor/nesbot/
/vendor/phpmailer/
/vendor/psr/
/vendor/symfony/
/vendor/voku/
